 <!--### FOOTER ###-->  
<footer>
  <div class="row">

    <!--### LINKS ###-->
    <div class="small-12 medium-6 columns">
      <ul class="inline-list footer-links">
        <li><a href="http://www.nettbutikk.tellit.no">Nettbutikk</a></li>
        <li><a href="{{site.baseurl}}/kurs">Kurs</a></li>
        <li><a href="{{site.baseurl}}/service">Service</a></li>
        <li><a href="{{site.baseurl}}/student">Student</a></li>
        <li><a href="{{site.baseurl}}/bedrift">Bedrift</a></li>
        <li><a href="{{site.baseurl}}/kontakt">Kontakt</a></li>
      </ul>
      <p class="cookie">Vår nettside bruker cookies for å kunne se våres besøkendes brukermønster. <a href="{{site.baseurl}}/cookies">Les mer</a></p>
    </div>



    <!--### APR Logoer ###-->
    <div class="small-12 medium-5 medium-offset-1 columns">
      <div class="row">
        <div class="small-6 columns">
          <a href="{{site.baseurl}}/service"><img src="../img/logoer/tell-Apple-authorized-service-provider-tellit.png" alt="Apple Premium Service Provider logo" width="160px" style="padding-top: 12px;" /></a>
        </div>
        <div class="small-6 columns">
          <a href="{{site.baseurl}}/kontakt"><img class="apr-footer" src="/img/logoer/tell-apple-premium-reseller-logo.jpeg" alt="Apple Premium Reseller logo" width="70px" height="100px" /></a>
        </div> 
      </div>  
    </div>

  </div> <!--end footer row-->
</footer>    