 </nav> 
  <div class="row show-for-medium-up">
    <div class="small-12 columns">
      <dl class="sub-nav">
        <dd class="{% if page.title == 'iPhone' %}active{% endif %}"><a href="{{site.baseurl}}/iphone">Alle</a></dd>
        <dd class="{% if page.url contains '/iphone-5c/' %}active{% endif %}"><a href="{{site.baseurl}}/iphone/iphone-5c">iPhone 5c</a></dd>
        <dd class="{% if page.url contains '/iphone-5s/' %}active{% endif %}"><a href="{{site.baseurl}}/iphone/iphone-5s">iPhone 5s</a></dd>
        <dd class="{% if page.url contains '/iphone-6/' %}active{% endif %}"><a href="{{site.baseurl}}/iphone/iphone-6">iPhone 6 / Plus</a></dd>
      </dl>
    </div>
  </div>
 </nav> 