 </nav> 
  <div class="row show-for-medium-up">
    <div class="small-12 columns">
      <dl class="sub-nav">
        <dd class="{% if page.title == 'Mac' %}active{% endif %}"><a href="{{site.baseurl}}/mac">Alle</a></dd>
        <dd class="{% if page.url contains '/macbook/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/macbook">MacBook</a></dd>
        <dd class="{% if page.url contains '/macbook-air/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/macbook-air">MacBook Air</a></dd>
        <dd class="{% if page.url contains '/macbook-pro/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/macbook-pro">MacBook Pro</a></dd>
        <dd class="{% if page.url contains '/macbook-pro-retina/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/macbook-pro-retina">MacBook Pro med Retina-skjerm</a></dd>
        <dd class="{% if page.url contains '/imac/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/imac">iMac</a></dd>
        <dd class="{% if page.url contains '/imac-retina/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/imac-retina">iMac Retina</a></dd>
        <dd class="{% if page.url contains '/mac-mini/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/mac-mini">Mac Mini</a></dd>
        <dd class="{% if page.url contains '/mac-pro/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/mac-pro">Mac Pro</a></dd>
        <dd class="{% if page.url contains '/thunderbolt-display/' %}active{% endif %}"><a href="{{site.baseurl}}/mac/thunderbolt-display">Thunderbolt Dispaly</a></dd>
      </dl>
    </div>
  </div>
 </nav> 