   
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-26654201-1','auto');ga('send','pageview');
    </script>

    <script src="{{site.baseurl}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{site.baseurl}}/bower_components/foundation/js/foundation.min.js"></script>
    <script src="{{site.baseurl}}/js/min/app-min.js"></script>


  
      