/* ###  FOOTER  #### */

footer {
  padding: 90px 0 60px 0;
  background-color: $tell-light-gray;
  color: $tell-gray;

   h4 {margin-bottom: 30px;}


   h6 {
      font-weight: 300;
      color: $tell-green;
      line-height: 12px;
      font-size: 0.9em;
      }

   p {
      font-size: 0.8em;
    }


   p.cookie {
      margin-left: 1.375rem;

        a {color: $tell-gray;}
    }

}//footer


.footer-links a {
  color: $dark;
}

.footer-links a:hover {
  color: $tell-green;
}



.apr-logo-footer {
  max-width: 70px;
}

// Align text center for mobile
@media #{$small-only} {

  footer {
    text-align: center;
  }
}
