
/* ###  ANBAFALTE PRODUKTER  #### */


#nyheter-container {


  h3 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 3em;
  }




  .product {

    background-color: $product-bg;
    text-align: center;
    padding: 1.2em 0 2.2em 0;


      h4 {
        font-size: 1.2em;
        color: $dark;
      }

      p {
        font-size: 1em;
        margin-bottom: 1.6em;
      }


  }//product
}//anbefalt-container




/*.new {
  background-image: url("../img/home/anbefalt-produkter/nyhet-badge.png");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 60px;
  position: relative;
}*/
