
/* ###  KNAPPER  #### */

.knapp {
  border: 1px solid $tell-green;
  color: $tell-green;
  border-radius: 40px;
  padding: 6px 25px; 
  font-size: 14px;
  background: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease; 
  
    &:hover {
      background-color: $tell-green;
      color: white;
    }
} //knapp


.solid {
  background-color: $tell-green;
  color: white;
  
  &:hover {
    background-color: darken($tell-green, 6%);
  }
  
  
}//solid