/* ###  NYHETSBREV  #### */

#nyhetsbrev {
  padding: 85px 0;
  background-color: white;
  text-align: center;
  
  h4 {
    color: $tell-green;
    margin-bottom: 20px;
    font-size: 2em;
  }
} //nyhetsbrev


