
// STUDENTPAKKER
#studentpakker-section {
  margin: 0 0 3em 0;


    h2 {
      color: $tell-green;
      font-size: 2.7em;
      margin-bottom: 1.7em;
    }

    h3 {
      color: $tell-gray;
      font-size: 1.3em;
    }

    h4 {
     margin-left: 20px;
    }

    p{
     margin-left: 20px;
     font-size: 1.1em;
    }

    ul {
      @include ul-med-checklist;

    }

    li {
      margin-left: 20px;
    }

    @media #{$medium-up} {
      margin: 2em 0 6em 0;
  } // @media


} //studentpakker-section


// BEATS BANNER
.beats-student-banner {
  background-color: $light-bg;
  padding: 3em 0;
  text-align: center;


    h3 {
      color: $dark;
      font-size: 2.7em;
    }

    h4 {
      color: $tell-gray;
      font-size: 1.5em;
    }

    p{
      color: lighten( $tell-gray, 20% );
      margin-bottom: 2em;
    }

    @media #{$large-up} {
    .beats-student-banner-tekst {
      margin-top: 5em;
    }
  } // @media
}


// STUDENTPRISER MAC
#studentpriser-mac {
  text-align: center;
  margin-top:3em;


  h2 {
      color: $tell-green;
      font-size: 2.2em;
    }

  img {
    margin-bottom: 0.7em;
  }


  span {
    color: $dark;
  }

  p {
    font-size: 0.9em;
    margin-bottom: 0.2em;
    opacity: 0.4;
  }

  .studentpris {
    color: $tell-green;
    font-size: 1em;
    text-decoration: none;
    opacity: 1;
  }


    @media #{$medium-up} {

      margin: 5em 0 2em 0;

  } // @media


}


// HVORFOR MAC
#hvorfor-mac{

  margin-top: 4em;

  h3 {
    text-align: center;
    color: $tell-green;
    margin-bottom: 1.6em;
    font-size: 2.6em;
  }

  h4 {
    font-size: 1.4em;
    color: $dark;
  }

  span {
    color: lightgray;
    font-size: 0.6em;
  }

  @media #{$medium-up} {
    margin: 6.2em 0 2em 0;
} // @media

}//hvorfor-mac
