// Farger
$tell-green             :  #14a449;
$tell-gray              :  #8d9095;
$tell-light-gray        :  #f3f3f3;
$tell-light-light-gray  :  #f9f9f9;
$gray-bg-landing        :  #f7f6f7;   
$dark                   :   black;
$light-bg               :  #f9f9f9; 